html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

p {
    font-size: 2rem;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}


/** CODIGO AQUI **/

/* Creamos tres columnas, la central es de contenido y será mas grande. Todos los diseños son responsive */

@media (min-width: 768px) {
    .contenedor {
        display: grid;

        /* Cada palabra se relaciona con cada uno de los porcentajes en automático. Lo demás esta en los selectores de abajo */
        grid-template-areas: "izquierda contenido derecha";

        grid-template-columns: 20% 60% 20%;
        column-gap: 2rem;

        /* Evita que se creen nuevas filas acomodando el contenido en una columna (si el espacio está disponible) */
        grid-auto-flow: column; /* Si usamos grid-template-areas, esta linea ya no se requiere */
    }

    .contenedor main {
        /* grid-column: 2 / 3; Esta es la forma normal de organizar columnas */

        grid-area: contenido; /* Esta forma de organizar columnas se usa para displays mas complicados */
    }

    .first-aside {
        /* grid-column: 1 / 2; */
        grid-area: izquierda;
    }
}